.tax-wcboost_docs_cat,
.docs-search-results {
	--header--divider: 0px;
}

.docs-search-results {

	.search-header {
		text-align: center;
		margin: 4rem 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}

.docs-search-results,
.tax-wcboost_docs_cat {

	.no-results {
		text-align: center;

		.search-form {
			display: none;
		}
	}
}
