.main-navigation .menu > li > a {
	font-weight: 400;
	gap: 4px;

	> .menu-item-caret {
		display: inline-block;
	}
}

.header-top {
	color: var(--global--color--primary--contrast);
	background-color: var(--global--color--primary);

	a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			text-decoration-thickness: 2px;
		}
	}

	.section-columns {
		display: grid;
		grid-template-columns: auto auto;
		padding: 0.75rem 0;
	}
}

.section--layout-center .section-columns {
	grid-template-columns: 1fr auto 1fr;
}

.header-top__center {
	text-align: center;
}
