.plugin-header {

	.plugin-thumbnail-link {
		display: block;
		border-radius: var(--form--border-radius);

		&:hover {
			box-shadow: 0px 10px 20px -3px rgba(0,0,0,0.1);
		}
	}

	img {
		border-radius: var(--form--border-radius);
		display: block;
	}
}

.archive .plugin-title {
	margin: 1.5rem 0;
}

.plugin-summary.entry-content {
	margin: 1.5rem 0;
}

@media (min-width: 992px) {

	.wcboost-extension-archive.no-sidebar {
		--posts-grid--columns: 2;
		--posts--gap-vertical: 4rem;
		--posts--gap-horizontal: 3rem;
	}
}
