.plugin-header {
	margin-bottom: 4rem;

	h1 {
		margin-top: 0;
	}
}

.plugin-meta {
	color: var(--color--desc);
	font-size: var(--global--font-size--sm);

	> span {
		margin-right: 1.5em;
	}

}

.plugin-content {
	flex: 1;

	.plugin-thumbnail {
		margin-bottom: 3rem;

		img {
			display: block;
			border-radius: var(--form--border-radius);
		}
	}


	ul,
	ol {
		margin-left: 0;
	}

	li {
		margin: 1em 0;
	}
}

.plugin-sidebar__box {
	font-size: 0.875rem;
	padding: 1.5rem;
	margin: 0 0 1.5rem;
	border-radius: var(--form--border-radius);
	border: var(--form--border-width) solid;

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.plugin-sidebar__purchase {

	.plugin-sidebar__heading {
		font-size: var(--heading--font-size-h4);
	}
}

.plugin-sidebar__download {

	.button {
		margin-bottom: 1em;
		width: 100%;
	}

	a {
		text-decoration: none;

		svg {
			vertical-align: -0.25em;
			width: 1.25em;
			height: 1.25em;
			margin-right: 5px;
		}
	}

}

.plugin-sidebar__info {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: flex;
		justify-content: space-between;

		+ li {
			margin-top: 0.5em;
		}
	}
}

@media screen and (min-width: 1024px) {

	.plugin-content__wrapper {
		display: flex;
		align-items: flex-start;
		gap: 3rem;
	}

	.plugin-sidebar {
		flex-basis: 320px;
		position: sticky;
		top: 1rem;
	}
}
