.plugin-page-header {
	text-align: center;
	padding: 2rem 0;

	.page-header-title {
		font-size: var(--heading--font-size-h2);
		margin: 0;
	}
}

@media (min-width: 992px) {

	.plugin-page-header {
		padding-top: 4rem;
		padding-bottom: 4rem;

		.page-header-title {
			font-size: var(--heading--font-size-h1);
		}
	}
}
